#game_area{
    display: grid;
    width: 700px;
    height: 600px;
    border: 3px black solid;
    margin: 0 auto;
    position: relative;
    background-image: url("../res/bg.jpeg");

}
#grogu{
    position: absolute;
    z-index: 2;
}

.bricks{
    border: solid white 1px;
    position: absolute;
    z-index: 1;
}

#bricks{

}

.tile{
    border-right: solid #7e7e7e 1px;
    position: absolute;
}
 .pink, .green, .dblue, .lblue, .purple, .wall, .dynamite{
    position: absolute;
    border: solid white 1px;
}
 .pink{
     background-color: #de0085;
 }
 .green{
     background-color: #AAFF00;
 }
 .dblue{
     background-color: #0021fa;
 }
 .lblue{
     background-color: #00eaff;
 }
 .purple{
     background-color: #9900cc;
 }

#head{
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
    height: 50px;
    background-color: black;
    border-bottom: solid black 3px;
}

h2{
    position: relative;
    text-align: center;
    font-family: "Ink Free", serif;
    color: darkgray;
}
#sobics{
    color: #549f03;
}

.wall{
    background-image: url("../res/wall.jpg");
    background-size: cover;
}
.dynamite{
    background-image: url("../res/dynamite.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#container{
    position: relative;
    height: 550px;
}

#gameover{
    position: absolute;
    height: 600px;
    width: 700px;
    z-index: 3;
    background-color: rgba(200,200,200,0.5);
}


