#game_area{
    display: grid;
    width: 700px;
    height: 600px;
    border: 3px black solid;
    margin: 0 auto;
    position: relative;
    background-image: url("img/bg.jpeg");
}

.startscreen{
    position: absolute;
    opacity: 0.7;
    background-color: darkgray;
    height: 550px;
    width: 650px;
    margin: 25px 25px
}

#instructions{
    position: absolute;
    text-align: center;
    margin: 50px 50px;
    font-family: "Ink Free", serif;
    font-size: 30px;
    border: #549f03 solid 2px;
}

button,input{
    position: absolute;
    height: 50px;
    width: 100px;
    font-family: "Ink Free", serif;
    color: black;
    font-size: inherit;
    left: 275px;
    border-radius: 5px;
}
input{
    height: 20px;
    top: 290px;
    width: 150px;
    left: 250px;
    color: #549f03;
}

#grogu{
    position: absolute;
    z-index: 2;
}

.tile{
    position: absolute;
}
 .pink, .green, .dblue, .lblue, .purple, .wall, .dynamite{
    position: absolute;
    border: solid white 1px;
}
 .pink{
     background-color: #de0085;
 }
 .green{
     background-color: #AAFF00;
 }
 .dblue{
     background-color: #0021fa;
 }
 .lblue{
     background-color: #00eaff;
 }
 .purple{
     background-color: #9900cc;
 }

#head{
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
    height: 50px;
    background-color: black;
    border-bottom: solid black 3px;
}

h2{
    position: relative;
    text-align: center;
    font-family: "Ink Free", serif;
    color: darkgray;
}
#sobics{
    color: #549f03;
}

.wall{
    background-image: url("img/wall.jpg");
    background-size: cover;
}
.dynamite{
    background-image: url("img/dynamite.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#container{
    position: relative;
    height: 550px;
}

#gameover{
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    font-size: 70px;
    font-family: "Ink Free", serif;
    color: #549f03;
}


